.monster {
  width: 60%;
  align-self: center;
  z-index: 1;
  position: absolute;
}

.backgroundImage {
  width: 600px;
  position: relative;
}

.monsterContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.monsterName {
  font-weight: bold;
  font-size: 25px;
  color: #6A6B83;
  margin: auto;
  width: 100%;
  text-align: center;
}

.dataValues {
  font-weight: bold;
  font-size: 20px;
  color: #3b3b3b;
  margin-top: 5px;
  margin-bottom: 5px;
}

.data {
  font-size: 20px;
  color: #767676;
  margin-top: 5px;
  margin-bottom: 5px;
}

.dataContainer {
  border-radius: 5px;
  margin: 5px;
  padding-left: 15px;
  border: 1px solid #6A6B83;
  display: flex;
  flex-direction: column;
}

.onSaleButton {
  font-size: 20px;
  line-height: 17px;
  font-weight: 600;
  margin: 0;
  word-break: break-word;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  font-style: normal;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  min-width: 85px;
  outline: none;
  padding: 1px 14px;
  text-decoration: none;

  background-color: #3483fa;
  border: 1px solid #3483fa;
  color: #ffff;
}

.buyButton {
  font-size: 20px;
  line-height: 17px;
  margin: 0;
  word-break: break-word;
  border-radius: 5px;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  font-style: normal;
  font-weight: 600;
  justify-content: center;
  min-height: 40px;
  min-width: 85px;
  outline: none;
  padding: 1px 14px;
  text-decoration: none;
  background-color: #11A41D;
  border: 1px solid #11A41D;
  color: #ffff;
}

.buyButton:hover {
  background-color: lighten(#11A41D, 3%);
};

.buyButton:active {
  background-color: darken(#11A41D, 3%);
}

.buyButton:disabled {
  background-color: darken(desaturate(#11A41D, 80%), 5%);
  border-color: transparentize(desaturate(#11A41D, 80%), 0.15);
  color: transparentize(desaturate(#ffff, 80%), 0.15);
  cursor: not-allowed;
}

.buttonsContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}